<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/shared :: head('Cadastro de Jogo')}"></head>

<body class="">
<div class="wrapper ">
    <div th:replace="~{layout/baseAdmin :: sidebar}"></div>
    <div class="main-panel" id="main-panel">
        <nav th:replace="~{layout/baseAdmin :: header}"></nav>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 my-5">
                    <h3>Cadastro de jogo</h3>
                    <form method="post" th:object="${jogoDto}">
                        <div th:if="${resultados != null} ">
                            <div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${resultados.hasErrors()}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <th:block th:each="error : ${resultados.getAllErrors()}">
                                    <div>
                                        <i class="fa  fa-exclamation-circle mr-3"></i>
                                        <span th:text="${error.getDefaultMessage()}"></span>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label>Imagem:</label>
                                <input type="text" class="form-control" placeholder="https://shuttershock" required th:value="${jogo.imagem}" th:field="*{imagem}">
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="title">Título:</label>
                                <input type="text" class="form-control" placeholder="Watch Dogs" required id="title" th:value="${jogo.imagem}" th:field="*{titulo}">
                            </div>

                            <div class="col-lg-4 form-group">
                                <label>Valor:</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">R$</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="180,00" required th:field="*{preco}" th:value="${#numbers.formatDecimal(jogo.preco, 0, 'COMMA', 2, 'POINT')}">
                                </div>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="amount">Quantidade:</label>
                                <input type="text" class="form-control" placeholder="100" required id="amount" th:value="${jogo.quantidade}" th:field="*{quantidade}">
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="multiplayer">Multiplayer:</label>
                                <select class="form-control" required id="multiplayer" th:value="${jogo.multijogador}" th:field="*{multijogador}">
                                    <option value=1>Sim</option>
                                    <option value=0>Não</option>
                                </select>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label>Distribuidora:</label>
                                <select class="form-control" th:value="${jogo.editora}" required id="editora" name="editora">
                                    <option data-toggle="tooltip" data-placement="top"
                                            th:each="edit : ${editoras}"
                                            th:value="${edit.id}"
                                            th:text="${edit.nome}"
                                            th:title="${edit.nome}"></option>
                                </select>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="launchDate">Lançamento:</label>
                                <input type="date" class="form-control" required id="launchDate" th:value="${jogo.dataLancamento}" th:field="*{dataLancamento}">
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="plataforma">Plataforma:</label>
                                <select class="form-control" th:value="${jogo.plataforma}" required id="plataforma" name="plataforma">
                                    <option data-toggle="tooltip" data-placement="top"
                                            th:each="plat : ${plataformas}"
                                            th:value="${plat.id}"
                                            th:text="${plat.nome}"
                                            th:title="${plat.nome}"></option>
                                </select>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="idiomas">Idioma:</label>
                                <select class="form-control" required th:value="${jogo.idiomas}" id="idiomas" name="idiomas" multiple>
                                    <option data-toggle="tooltip" data-placement="top"
                                            th:each="idioma : ${idiomas}"
                                            th:value="${idioma.id}"
                                            th:text="${idioma.nome}"
                                            th:title="${idioma.nome}"></option>
                                </select>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="generos">Genêro:</label>
                                <select class="form-control" required th:value="${jogo.generos}" id="generos" name="generos" multiple>
                                    <option data-toggle="tooltip" data-placement="top"
                                            th:each="gen : ${generos}"
                                            th:value="${gen.id}"
                                            th:text="${gen.nome}"
                                            th:title="${gen.nome}"></option>
                                </select>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="age">Faixa etária:</label>
                                <input type="number" step="1" min="1" th:value="${jogo.faixaEtaria}" th:field="*{faixaEtaria}" id="age" class="form-control"/>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="status">Status:</label>
                                <select class="form-control" th:value="${jogo.ativo}" id="status" th:field="*{ativo}">
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="reason">Motivo:</label>
                                <input placeholder="Breve descrição do motivo da ativação/desativação" th:value="${jogo.motivoInativacao}" class="form-control" id="reason" th:field="*{motivoInativacao}"/>
                            </div>

                            <div class="col-12 form-group">
                                <label for="synopsis">Sinopse:</label>
                                <textarea type="text" class="form-control" placeholder="Sinopse" required id="synopsis" th:value="${jogo.sinopse}" th:field="*{sinopse}" maxlength="254"></textarea>
                            </div>
                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<footer th:replace="~{layout/shared :: footer}"></footer>
</body>

</html>