<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>

<html lang="pt">
<head th:insert="~{layout/shared :: head('ChopperHouse - Perfil de Cliente')}">
  <meta charset="UTF-8">
  <title>ChopperHouse - Perfil de Cliente</title>
</head>

<body class="" onload="pag()">
<header class="site-header py-1 header" th:replace="~{layout/baseCliente :: header}">

</header>

<section class="container-fluid perfil">
  <div class="alert alert-success alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div>
      <i class="fa fa-exclamation-circle mr-3"></i>
      <span th:text="${mensagem}"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="panel-header panel-header-sm text-white font-weight-bolder"><h3>Dados do Cliente</h3></div>
      <div class="card-header py-3 d-flex flex-wrap justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary" th:if="${cliente.id.equals(null)}">Cliente Novo</h6>
        <h6 class="m-0 font-weight-bold text-primary" th:unless="${cliente.id.equals(null)}">
          <a th:href="@{'/cliente/perfil/' + ${cliente.id}}" th:unless="${cliente.id.equals(null)}">Detalhes do Cliente</a>
        </h6>
        <h6 class="m-0 font-weight-bold text-primary">
          <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/cartoes'}">Cartões</a>
        </h6>
        <h6 class="m-0 font-weight-bold text-primary " th:if="${null != cliente.id}">
          <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos'}">Endereços</a>
        </h6>
        <h6 class="m-0 font-weight-bold text-primary" th:if="${null != cliente.id}">
          <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos'}">Pedidos</a>
        </h6>
      </div>
      <div class="card-body">
        <form method="post" class="container" th:action="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos/editar'}">
          <input type="hidden" th:field="*{endereco.id}" th:value="${endereco.id}">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="form-group">
                <label>Logradouro</label>
                <input class="form-control" th:field="*{endereco.logradouro}" required>
              </div>
              <div class="form-group">
                <label>Numero</label>
                <input class="form-control" th:field="*{endereco.numero}" required>
              </div>
              <div class="form-group">
                <label>CEP</label>
                <input class="form-control" th:field="*{endereco.cep}" required>
              </div>
              <div class="form-group">
                <label>Complemento</label>
                <input class="form-control" th:field="*{endereco.complemento}">
              </div>
              <label>Tipo de Endereco</label>
              <select class="form-select" th:field="*{endereco.tipoEndereco}" required>
                <option th:each="tpEnd : ${tiposEnd}"
                        th:value="${tpEnd}"
                        th:text="${tpEnd}">
                  Residencial
                </option>
              </select>
              <div class="form-group">
                <label>Cidade</label>
                <input class="form-control" th:field="*{endereco.cidade.cidade}" required>
              </div>
              <div class="form-group">
                <label>Estado</label>
                <input class="form-control" th:field="*{endereco.cidade.estado.estado}" required>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</section>

<footer th:replace="~{layout/shared :: footer}"></footer>
</body>
</html>