<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>

<html lang="pt">
<head th:insert="~{layout/shared :: head('ChopperHouse - Perfil de Cliente')}">
    <meta charset="UTF-8">
    <title>ChopperHouse - Perfil de Cliente</title>
</head>

<body class="" onload="pag()">
<header class="site-header py-1 header" th:replace="~{layout/baseCliente :: header}">

</header>

<section class="container-fluid perfil">
    <div th:replace="~{layout/shared :: mensagem}"></div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="panel-header panel-header-sm text-white font-weight-bolder"><h3>Detalhes do pedido</h3></div>
            <div class="card-header py-3 d-flex flex-wrap justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary" th:if="${cliente.id.equals(null)}">Cliente Novo</h6>
                <h6 class="m-0 font-weight-bold text-primary" th:unless="${cliente.id.equals(null)}">
                    <a th:href="@{'/cliente/perfil/' + ${cliente.id}}" th:unless="${cliente.id.equals(null)}">Detalhes do Cliente</a>
                </h6>
                <h6 class="m-0 font-weight-bold text-primary">
                    <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/cartoes'}">Cartões</a>
                </h6>
                <h6 class="m-0 font-weight-bold text-primary " th:if="${null != cliente.id}">
                    <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos'}">Endereços</a>
                </h6>
                <h6 class="m-0 font-weight-bold text-primary" th:if="${null != cliente.id}">
                    <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/pedidos'}">Pedidos</a>
                </h6>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <form method="post" th:action="@{'/cliente/perfil/' + ${cliente.id} +'/pedidos/visualizar/'+${pedido.id}+'/cancelamento'}" class="card-body row justify-content-center">
                        <div class="table-responsive">
                            <h2 class=' mb-5'>Detalhes do Pedido</h2>
                            <div class="form-group">
                                <h6 class="f-18 font-weight-bold">ID de Pedido:</h6>
                                <label th:text="${pedido.id}">456</label>
                            </div>
                            <div class="form-group">
                                <h6 class="f-18 font-weight-bold">Logradouro de Entrega:</h6>
                                <label th:text="${pedido.endereco.logradouro}">Rua General Osório</label>
                            </div>
                            <div class="form-group">
                                <h6 class="f-18 font-weight-bold">Total do Pedido:</h6>
                                <label th:text="${pedido.total}">R$ 90.0</label>
                            </div>
                            <div class="form-group">
                                <h6 class="f-18 font-weight-bold">Status do Pedido:</h6>
                                <label th:text="${pedido.status.status}">EM PROCESSAMENTO</label><br/>
                            </div>
                            <div class="form-group">
                                <h6 class="f-18 font-weight-bold">Data do Pedido:</h6>
                                <label th:text="${pedido.dataCriacao}">13/09/2021</label><br/>
                            </div>
                            <button type="submit" class="btn btn-danger" th:if="${pedido.status.id.equals(1)}">Solicitar Cancelamento do Pedido</button>
                        </div>
                    </form>
                </div>
                <div class="form-group col-5">
                    <h6>Produtos</h6>
                    <div class="d-flex justify-content-center">
                        <table>
                            <thead class="table">
                            <tr>
                                <th>Nome</th>
                                <th>Quantidade</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${pedido.getItens()}">
                                <td th:text="${item.jogo.titulo}">Resident Evil 4</td>
                                <td th:text="${item.quantidade}">1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a th:if="${pedido.status.status.equals('ENTREGUE')}" th:href="@{'/cliente/perfil/' + ${cliente.id} +'/devolucao/' + ${pedido.id}}" class="btn btn-danger">Solicitar Devolucao de Pedido</a>
                    <div class="container-fluid" th:if="${devolucaoExist != null and devolucaoExist.statusDevolucao.descricao.equals('Aceito')}">
                        <h4 class=' mb-5'>Troca aceita. Deseja processar o envio?</h4>
                        <div class="row">
                            <div class="col-1">
                                <form th:method="post" th:action="@{'/admin/devolucoes/'+ ${devolucaoExist.id}+'/processar'}">
                                    <button type="submit" class="btn btn-success">Sim</button>
                                </form>
                            </div>

                            <div class="col-1">
                                <a th:href="@{'/cliente/perfil/' + ${cliente.id}+'/pedidos'}" class="btn btn-danger">Não</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{layout/shared :: footer}"></footer>
</body>
</html>