<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>

<html lang="pt">
<head th:insert="~{layout/shared :: head('ChopperHouse - Perfil de Cliente')}">
    <meta charset="UTF-8">
    <title>ChopperHouse - Perfil de Cliente</title>
</head>

<body class="" onload="pag()">
<header class="site-header py-1 header" th:replace="~{layout/baseCliente :: header}">

</header>

<section class="container-fluid perfil">
    <div th:replace="~{layout/shared :: mensagem}"></div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="panel-header panel-header-sm text-white font-weight-bolder"><h3>Dados do Cliente</h3></div>
            <div class="card-header py-3 d-flex flex-wrap justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary" th:if="${cliente.id.equals(null)}">Cliente Novo</h6>
                <h6 class="m-0 font-weight-bold text-primary" th:unless="${cliente.id.equals(null)}">
                    <a th:href="@{'/cliente/perfil/' + ${cliente.id}}" th:unless="${cliente.id.equals(null)}">Detalhes do Cliente</a>
                </h6>
                <h6 class="m-0 font-weight-bold text-primary">
                    <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/cartoes'}">Cartões</a>
                </h6>
                <h6 class="m-0 font-weight-bold text-primary " th:if="${null != cliente.id}">
                    <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos'}">Endereços</a>
                </h6>
                <h6 class="m-0 font-weight-bold text-primary" th:if="${null != cliente.id}">
                    <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/pedidos'}">Pedidos</a>
                </h6>
            </div>
            <div class="card-body row justify-content-center">
                <div class="table-responsive col-5">
                    <h2 class=' mb-5'>Detalhe do Pedido</h2>
                    <div class="form-group">
                        <h6 class="f-18 font-weight-bold">ID de Pedido:</h6>
                        <label th:text="${pedido.id}">456</label>
                    </div>
                    <div class="form-group">
                        <h6 class="f-18 font-weight-bold">Logradouro de Entrega:</h6>
                        <label th:text="${pedido.endereco.logradouro}">Rua General Osório</label>
                    </div>
                    <div class="form-group">
                        <h6 class="f-18 font-weight-bold">Total do Pedido:</h6>
                        <label th:text="${pedido.total}">R$ 90.0</label>
                    </div>
                    <div class="form-group">
                        <h6 class="f-18 font-weight-bold">Status do Pedido:</h6>
                        <label th:text="${pedido.status.status}">EM PROCESSAMENTO</label><br/>
                    </div>
                    <div class="form-group">
                        <h6 class="f-18 font-weight-bold">Data do Pedido:</h6>
                        <label th:text="${pedido.dataCriacao}">13/09/2021</label><br/>
                    </div>
                    <a class="btn btn-danger" th:href="@{'/cliente/perfil/' + ${cliente.id} + '/pedidos'}">Solicitar Cancelamento do Pedido</a>
                </div>
                <div class="form-group col-5">
                    <h6>Produtos</h6>
                    <table>
                        <thead class="table">
                        <tr>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${pedido.getItens()}">
                            <td th:text="${item.jogo.titulo}">Resident Evil 4</td>
                            <td th:text="${item.quantidade}">1</td>
                            <td>
                                <a class="btn btn-outline-danger">Trocar item</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{layout/shared :: footer}"></footer>
</body>
</html>