<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/shared :: head('Painel Administrativo - ChopperHouse')}"></head>

<body class="">
<div class="wrapper">
    <div th:replace="~{layout/baseAdmin :: sidebar}"></div>
    <div class="main-panel" id="main-panel">
        <nav th:replace="~{layout/baseAdmin :: header}"></nav>
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>#</th>
                                <th>Codigo</th>
                                <th>Valor</th>
                                <th>Tipo</th>
                                <th colspan="2"></th>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>DESC10</td>
                                    <td>R$ 10.0</td>
                                    <td>Promocional</td>
                                    <td class="m-auto">
                                        <button class="btn btn-outline-danger">
                                            <i class="fas fa-trash-alt"></i>
                                            <span>Excluir</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layout/shared :: footer}"></footer>
</body>

</html>