<div th:fragment="sidebar" class="sidebar" data-color="orange">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a href="/" class="simple-text logo-normal">
      ChopperHouse
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="/admin/">
          <i class="now-ui-icons business_chart-bar-32"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/clientes}">
          <i class="now-ui-icons users_single-02"></i>
          <p>Clientes</p>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/jogos}">
          <i class="now-ui-icons shopping_shop"></i>
          <p>Produtos</p>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/cupons}">
          <i class="now-ui-icons files_single-copy-04"></i>
          <p>Cupons</p>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/pedidos}">
          <i class="now-ui-icons shopping_delivery-fast"></i>
          <p>Pedidos</p>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/devolucoes}">
          <i class="now-ui-icons shopping_delivery-fast"></i>
          <p>Devolucoes</p>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/cancelamentos}">
          <i class="now-ui-icons ui-1_simple-remove"></i>
          <p>Cancelamentos</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<nav th:fragment="header" class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin}">
            <i class="now-ui-icons users_single-02"></i>
            <p>
              <span class="d-lg-none d-md-block">Painel Administrativo</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer th:fragment="footer">
  <script th:src="@{'/js/jquery/jquery.min.js'}" type="application/javascript"></script>
  <script th:src="@{'/js/core/jquery.min.js'}"></script>
  <script th:src="@{'/js/core/popper.min.js'}"></script>
  <script th:src="@{'/js/core/bootstrap.min.js'}"></script>
  <script th:src="@{'/js/plugins/perfect-scrollbar.jquery.min.js'}"></script>

  <!-- Chart JS -->
  <script th:src="@{'/js/plugins/chartjs.min.js'}"></script>
  <script th:src="@{'/vendor/chart/Chart.min.js'}"></script>
  <script th:src="@{'/js/chart/demo/chart-area-demo.js'}"></script>

  <!--  Notifications Plugin    -->
  <script th:src="@{'/js/plugins/bootstrap-notify.js'}"></script>

  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script th:src="@{'/js/sb-admin-2.js'}"></script>

</footer>