<head th:fragment="head(titulo)">
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{img/favicon.png}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title th:text="${titulo ?: 'ChopperHouse Games'}"></title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700,200}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.7.1/css/all.css}" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/now-ui-dashboard.css?v=1.5.0}" rel="stylesheet" />
  <link th:href="@{/demo/demo.css}" rel="stylesheet" />
</head>

<footer th:fragment="footer">
  <script th:src="@{/js/core/jquery.min.js}"></script>
  <script th:src="@{/js/core/popper.min.js}"></script>
  <script th:src="@{/js/core/bootstrap.min.js}"></script>
  <script th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
  <!-- Chart JS -->
  <script th:src="@{/js/plugins/chartjs.min.js}"></script>
  <!--  Notifications Plugin    -->
  <script th:src="@{/js/plugins/bootstrap-notify.js}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script th:src="@{/js/now-ui-dashboard.min.js?v=1.5.0}" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script th:src="@{/demo/demo.js}"></script>
  <script>
    $(document).ready(function() {

      demo.initDashboardPageCharts();

    });
  </script>
</footer>