<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/shared :: head(${'ChopperHouse - Cadastro de Novo Cliente'})}"></head>
<body>
    <header th:replace="~{layout/baseCliente :: header}"></header>

    <div class="container perfil mt-5">
        <form th:object="${clienteForm}" method="post">
            <h4 class="py-4">Dados de Cliente</h4>
            <div class="border">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <label>Nome Completo</label> <br />
                            <input class="form-control" th:field="*{nomeCompleto}" required/>
                        </div>

                        <div class="form-group">
                            <label>Data de Nascimento</label> <br />
                            <input th:field="*{dataNascimento}" type="date" class="form-control"/>
                        </div>

                        <div class="form-group mt-2">
                            <label for="telephone">Telefone:</label>
                            <input type="text" class="form-control" id="telephone" aria-describedby="telephoneHelp" placeholder="(11) 91234-5678" th:field="*{telefone}" required/>
                        </div>

                        <div class="form-group">
                            <label>E-mail</label> <br />
                            <input th:field="*{email}" type="email" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label>Senha</label> <br />
                            <input th:field="*{senha}" type="password" id="senha" class="form-control">
                                <validateRegex pattern = "(?=.*[a-zA-Z])(?=.*[0-9]).{8,13}"/>
                                <message for = "senha" style = "color:red"/>
                            </input>

                        </div>
                        <div class="form-group">
                            <label>Confirmar Senha</label> <br />
                            <input type="password" id="confirma_senha" required class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success my-5" value="Cadastrar" >Finalizar</button>
        </form>
    </div>

    <footer th:insert="~{layout/shared :: footer}"></footer>
    <script>
        $(document).ready(function(){
            var SPMaskBehavior = function (val) {
                    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
                },
                spOptions = {
                    onKeyPress: function(val, e, field, options) {
                        field.mask(SPMaskBehavior.apply({}, arguments), options);
                    }
                };

            $('#telephone').mask(SPMaskBehavior, spOptions);
        });
    </script>
    <script>

        $('#senha, #confirma_senha').on('keyup', function () {
            if($("#confirma_senha").val() == $("#password").val()) {
                $("#grupo_senha").empty();
                $(":submit").attr("disabled", false)
            } else {
                $(":submit").attr("disabled", true)
                $("#grupo_senha").empty();
                $("#grupo_senha").append("<small class='alert-danger' id='password_alert'>Senhas não conferem</small>");
            }
        })

        $("#telephone").on('keyup', function () {
            if($("#telephone").val().replace(/\D/g, '').length < 10) {
                $("#telephone_group").empty();
                $("#telephone_group").append("<small class='alert-danger' id='password_alert'>Telefone inválido</small>");
                $(":submit").attr("disabled", true)
            } else {
                $("#telephone_group").empty();
                $(":submit").attr("disabled", false)
            }
        })

        $("#name").on('keyup', function () {
            if(this.value.length < 3) {
                $("#name_group").empty();
                $("#name_group").append("<small class='alert-danger' id='password_alert'>Nome inválido</small>");
                $(":submit").attr("disabled", true)
            } else {
                $("#name_group").empty();
                $(":submit").attr("disabled", false)
            }
        })

    </script>
</body>
</html>