<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>

<html lang="pt">
<head th:insert="~{layout/shared :: head('ChopperHouse - Perfil de Cliente')}">
  <meta charset="UTF-8">
  <title>ChopperHouse - Perfil de Cliente</title>
</head>

<body class="" onload="pag()">
<header class="site-header py-1 header" th:replace="~{layout/baseCliente :: header}">

</header>

<section class="container-fluid perfil">
  <div th:replace="~{layout/shared :: mensagem}"></div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="panel-header panel-header-sm text-white font-weight-bolder"><h3>Lista de Enderecos</h3></div>
      <div class="card-header py-3 d-flex flex-wrap justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary" th:if="${cliente.id.equals(null)}">Cliente Novo</h6>
        <h6 class="m-0 font-weight-bold text-primary" th:unless="${cliente.id.equals(null)}">
          <a th:href="@{'/cliente/perfil/' + ${cliente.id}}" th:unless="${cliente.id.equals(null)}">Detalhes do Cliente</a>
        </h6>
        <h6 class="m-0 font-weight-bold text-primary">
          <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/cartoes'}">Cartões</a>
        </h6>
        <h6 class="m-0 font-weight-bold text-primary " th:if="${null != cliente.id}">
          <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos'}">Endereços</a>
        </h6>
        <h6 class="m-0 font-weight-bold text-primary" th:if="${null != cliente.id}">
          <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/pedidos'}">Pedidos</a>
        </h6>
      </div>
      <div class="card-body" th:if="${!cliente.enderecos.isEmpty()}">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>#</th>
              <th>Logradouro</th>
              <th>Número</th>
              <th>CEP</th>
              <th>Tipo de Endereco</th>
              <th colspan="2"></th>
              <th colspan="2"></th>
            </thead>
            <tbody>
              <tr th:each="end : ${cliente.enderecos}">
                <td th:text="${end.id}"></td>
                <td th:if="${cliente.enderecos.isEmpty()}">Sem Endereços Cadastrados</td>
                <td th:if="${!cliente.enderecos.isEmpty()}">
                  <span th:text="${end.logradouro}"></span>
                </td>
                <td th:text="${end.numero}">andreia@gmail.com</td>
                <td th:text="${end.cep}">The Sims</td>
                <td th:text="${end.tipoEndereco}">The Sims</td>
                <td class="m-auto">
                  <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos/editar/'+ ${end.id}}" class="btn btn-outline-warning">
                    <i class="fas fa-trash-alt"></i>
                    <span>Alterar</span>
                  </a>
                </td>
                <td class="m-auto">
                  <form th:object="${cliente}" th:action="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos'}" th:method="post">
                    <input type="hidden" name="id" th:value="${end.id}">
                    <button class="btn btn-outline-danger">
                      <i class="fas fa-trash-alt"></i>
                      <span> Excluir</span>
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body">
          <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos/novo'}" class="btn btn-success">Cadastrar Novo Endereco</a>
        </div>
      </div>
      <div class="card-body" th:if="${cliente.enderecos.isEmpty()}">
        <a th:href="@{'/cliente/perfil/' + ${cliente.id} + '/enderecos/novo'}" class="btn btn-success" th:if="${cliente.enderecos.isEmpty()}">Cadastrar Novo Endereco</a>
      </div>
    </div>
  </div>
</section>
<footer th:replace="~{layout/shared :: footer}"></footer>
</body>
</html>