<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>

<html lang="pt">
<head th:insert="~{layout/shared :: head('ChopperHouse - Perfil de Cliente')}">
    <meta charset="UTF-8">
    <title>ChopperHouse - Perfil de Cliente</title>
</head>

<body class="" onload="pag()">
<header class="site-header py-1 header" th:replace="~{layout/baseCliente :: header}">

</header>

<section class="container perfil mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Bem vindo, <span th:text="${cliente.getNomeCompleto()}"></span></h1>
        </div>
    </div>
</section>

<footer th:replace="~{layout/shared :: footer}"></footer>
</body>
</html>