<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/shared :: head('Painel Administrativo - ChopperHouse')}"></head>

<body class="">
<div class="wrapper ">
    <div th:replace="~{layout/baseAdmin :: sidebar}"></div>
    <div class="main-panel" id="main-panel">
        <nav th:replace="~{layout/baseAdmin :: header}"></nav>
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header">
                    <h4 class="card-title"> Table on Plain Background</h4>
                    <p class="category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>#</th>
                                <th>Nome</th>
                                <th>Documentos</th>
                                <th>Estado</th>
                                <th>Email</th>
                                <th>Tipo de Cliente</th>
                                <th colspan="2"></th>
                            </thead>
                            <tbody>
                                <tr th:each="cliente : ${clientes}">
                                    <td th:text="${cliente.id}"></td>
                                    <td th:text="${cliente.nomeCompleto}"></td>
                                    <td th:if="${cliente.documentos.isEmpty()}">Sem Documentos Cadastrados</td>
                                    <td th:if="${!cliente.documentos.isEmpty()}">
                                        <span th:text="${cliente.documentos.get(0).tipoDocumento.nome}"></span>
                                        <span th:text="${cliente.documentos.get(0).codigo}"></span>
                                    </td>
                                    <td th:if="${cliente.enderecos.isEmpty()}">Sem Endereços Cadastrados</td>
                                    <td th:if="${!cliente.enderecos.isEmpty()}">
                                        <span th:text="${cliente.enderecos.get(0).cidade}"></span>
                                    </td>
                                    <td th:text="${cliente.email}">andreia@gmail.com</td>
                                    <td th:text="${cliente.tipoCliente.titulo}">The Sims</td>
                                    <td class="m-auto">
                                        <form th:object="${cliente}" th:method="delete">
                                            <input type="hidden" name="_method" value="delete">
                                            <input type="hidden" name="id" th:value="${cliente.id}">
                                            <button class="btn btn-outline-danger">
                                                <i class="fas fa-trash-alt"></i>
                                                <span> Excluir</span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <tr th:if="${clientes   .isEmpty()}">
                                    <td colspan="6" class="text-center">Nenhum cadastro de Cliente</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layout/shared :: footer}"></footer>
</body>

</html>