<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{layout/shared :: head(${'ChopperHouse Games'})}"></head>
    <body>
        <header th:replace="~{layout/baseCliente :: header}"></header>
        <div class="container">
            <div th:replace="~{layout/shared :: mensagem}"></div>
            <h3>Últimos lançamentos</h3>
            <div class="row justify-content-center my-5">
                <div class="col-3" th:each=" jg : ${jogos}">
                    <div class="card" style="width: 18rem;">
                        <img th:src="${jg.imagem}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${jg.titulo}">Jogo qualquer</h5>
                            <a th:href="@{'jogo/detalhe/' + ${jg.id}}" class="btn btn-primary">Mais detalhes</a>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Demais lançamentos</h3>
            <div class="row justify-content-center m-5">
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:insert="~{layout/shared :: footer}"></footer>

    </body>
</html>